@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Schoolbell&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100%;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1178px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background-color: #043E51;
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 45px 0 302px 0;
}

.header__container {
    display: flex;
    flex-direction: column;
}

.header-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigatia {}

.navigatia-title {}

.navigatia-image {}

.position-card {}

.position-user {}

.posion-user-title {}